/* Containers style */
body {
  background: url(media/landscape.svg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Lato", sans-serif;
  color: black;
}

.app-content {
  padding: 20px;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 360px;
  display: block;
  margin: 20px auto;
  padding: 0;
}

/* Frosted glass effect */
.app {
  width: 360px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.4) 0px 3px 7px -3px;
  overflow: hidden;
  position: relative;
}

.app:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Text style */
h1 {
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
}

.main-temp {
  font-size: 96px;
  line-height: 115px;
  font-weight: 300;
  padding: 10px 0 5px 0;
}

.description {
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
}

.forecast {
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
}

/* Search form styling */
.form-control,
.submit-btn,
.location-btn {
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  height: 31px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-control {
  width: 65%;
  margin: 0 5px 0 0;
}

.submit-btn {
  color: #fff;
  width: 35%;
  margin: 0 5px 0 0;
  background: #545398;
  transition: 150ms ease-in-out;
}

.submit-btn:hover {
  color: #fff;
  background: #3d2f75;
}

.location-btn {
  width: 10%;
  background: #8686b4;
  color: #fff;
  transition: 150ms ease-in-out;
}

.location-btn:hover {
  color: #fff;
  background: #6868a1;
}

.fa-map-marker-alt {
  color: #fff;
}

/* Current temp text positioning */
.temp {
  padding: 0;
  text-align: right;
}

.degree {
  padding: 0;
  text-align: left;
}

.max-min {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  padding: 0;
  text-align: center;
}

/* Navbar styling */
.navbar {
  background: #fff;
  border: none;
  max-height: 31px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  align-content: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-farenheit {
  font-size: 14px;
  font-weight: 700;
  width: 31px;
  height: 31px;
  position: relative;
  left: 1px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: #8686b4;
  color: #fff;
  transition: 150ms ease-in-out;
}

.btn-farenheit:hover {
  color: #fff;
  background: #6868a1;
}

.lable {
  font-weight: 400;
  padding: 10px 0 10px 10px;
}

.value {
  font-weight: 300;
  padding: 10px 0 10px 10px;
}

/* Forecast styling */
.icon {
  text-align: center;
}

.day {
  text-align: left;
}

.max-min-temp {
  text-align: right;
}

/* Footer styling */
.footer {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}

.footer a {
  color: #a3dabb;
  font-weight: 400;
  text-decoration: none;
}
